<%= link_to 'ログイン', '/auth/cognito' %>
<h1>Main#home</h1>
<p>Find me in app/views/main/home.html.erb</p>
<h1>Hello, World!</h1>
<% @access_categories.each do |access|%>
<p><%= access.Access_ID %></p>
<p><%= access.Name %></p>
</br>
<%end%>
